<div class="page page-accounts">

    <div class="pageheader">
        <h2>{{page.title}}</h2>
        <div class="controls">
            <button class="btn btn-primary btn-sm btn-ef btn-ef-5 btn-ef-5b mb-10" ng-click="addNew()">
                <i class="fa fa-plus-circle"></i> <span>Add</span>
            </button>
        </div>
    </div>

    <section class="tile">
        <div class="tile-body">
            <table ng-table="tableParams" class="table table-custom">
                <tr ng-repeat="user in $data">
                    <td data-title="'User name'">
                        {{user.fullName}}
                    </td>
                    <td data-title="'Email'">
                        {{user.email}}
                    </td>
                    <td data-title="'Role'">
                      {{user.role}}
                    </td>

                    <td class="actions">
                        <button class="btn btn-warning btn-sm btn-ef btn-ef-5 btn-ef-5b" ng-click="edit(user, $index)">
                            <i class="fa fa-pencil-square-o"></i> <span>Edit</span>
                        </button>
                        <button ng-hide="user.ban" class="btn btn-ban btn-icon-only btn-sm btn-ef btn-ef-5 btn-ef-5b btn-double-icon" ng-click="block(user, $index)">
                            <i class="fa fa-lock"></i><i class="fa fa-unlock"></i>
                        </button>
                        <button ng-show="user.ban" class="btn btn-unban btn-icon-only btn-sm btn-ef btn-ef-5 btn-ef-5b btn-double-icon" ng-click="unlock(user, $index)">
                          <i class="fa fa-unlock"></i><i class="fa fa-lock"></i>
                        </button>
                    </td>
                </tr>

            </table>
        </div>
    </section>

</div>
