<form name="form" class="form-validation mt-20" novalidate>
    <div class="modal-header">
        <h3 class="modal-title custom-font">
            <span ng-hide="user.userId">Create</span>
            <span ng-show="user.userId">Update</span>
            user
        </h3>
    </div>
    <div class="modal-body">
        <md-input-container>
            <label>First Name</label>
            <input type="text" name="firstName" ng-model="user.firstName" required/>

            <div ng-messages="form.firstName.$error" ng-show="form.firstName.$touched">
                <div ng-message="required"> Please, enter correct First Name.</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Last Name</label>
            <input type="text" name="lastName" ng-model="user.lastName" required/>

            <div ng-messages="form.lastName.$error" ng-show="form.lastName.$touched">
                <div ng-message="required">Please, enter correct Last Name.</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>E-mail</label>
            <input type="email" name="email" ng-model="user.email" required
                   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"/>

            <div ng-messages="form.email.$error" ng-show="form.email.$touched">
                <div ng-message="required">Please, enter correct email.</div>
                <div ng-message="email">Please, enter correct email.</div>
                <div ng-message="pattern">Please, enter correct email.</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password" ng-if="!user.userId" required/>
            <input type="password" name="password" ng-model="user.password" ng-if="user.userId"/>
            <div ng-messages="form.password.$error" ng-show="form.password.$touched">
                <div ng-message="required">Please, enter correct password.</div>
                <div ng-message="compareTo">Passwords must match</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Repeat password</label>
            <input type="password" name="confirmPassword" ng-model="confirmPassword" ng-if="!user.userId" compare-to="user.password" required/>
            <input type="password" name="confirmPassword" ng-model="confirmPassword" ng-if="user.userId" compare-to="user.password"/>
            <div ng-messages="form.confirmPassword.$error" ng-show="form.confirmPassword.$touched">
                <div ng-message="required">Please, enter correct password.</div>
                <div ng-message="compareTo">Passwords must match</div>
            </div>
        </md-input-container>
    </div>
    <div class="modal-footer">
        <button class="btn btn btn-primary mb-10" ng-click="submit()">Submit</button>
        <button class="btn btn-default mb-10" ng-click="cancel()">Cancel</button>
    </div>
</form>