.btn-double-icon.btn-ef.btn-ef-5.btn-ef-5b {
  i:nth-child(1) {
    left: -100%;
    top:0;
  }
  i:nth-child(2) {
    left: 0;
    top:0;
  }
  &:hover {
    i:nth-child(1) {
      left: 0;
      top:0;
    }
    i:nth-child(2) {
      left: 100%;
      top:0;
    }
  }
}

.btn.btn-double-icon {
  padding: 14px 20px;
  i.fa {
    line-height: 30px;
  }
  &.btn-unban {
    color: white;
    border-color: $brand-danger;
    background-color: $brand-danger;
    &:hover {
      color: white;
      border-color: $brand-success;
      background-color: $brand-success;
    }
  }
  &.btn-ban {
    color: white;
    border-color: $brand-success;
    background-color: $brand-success;
    &:hover {
      color: white;
      border-color: $brand-danger;
      background-color: $brand-danger;
    }
  }
}