<div class="page page-core page-login">

  <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred">C</span>LIENT <span class="text-lightred">M</span>ANAGEMENT</h3> </div>

  <div class="container w-420 p-15 bg-white mt-40 text-center">


    <h2 class="text-light text-greensea">Log In</h2>

    <form name="form" class="form-validation mt-20" novalidate>
      <div class="form-group">
        <input type="email" class="form-control underline-input" placeholder="Email" ng-model="user.email" required>
      </div>

      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control underline-input" ng-model="user.password" required>
      </div>

      <div class="form-group text-right mt-20">
        <button type="submit" class="btn btn-greensea b-0 br-2 mr-5" ng-click="login()" ng-disabled='form.$invalid'>Login</button>
      </div>

    </form>
  </div>

</div>
