<header class="clearfix">
  <!-- Branding -->
  <div class="branding">
    <a class="brand">
      <span><strong>CLIENT</strong> MANAGAMENT</span>
    </a>
  </div>
  <!-- Branding end -->

  <!-- Left-side navigation -->
  <ul class="nav-left pull-left list-unstyled list-inline">
    <li class="sidebar-collapse divided-right">
      <a href="javascript:;" collapse-sidebar><fa name="outdent"></fa></a>
    </li>
  </ul>
  <!-- Left-side navigation end -->

  <!-- Right-side navigation -->
  <ul class="nav-right pull-right list-inline">
    <li class="sign-out">
      <a href="javascript:;">
        <fa name="sign-out"></fa> <span>Sign Out</span>
      </a>
    </li>
  </ul>
  <!-- Right-side navigation end -->
</header>
