<div id="sidebar-wrap">
  <accordion>
    <accordion-group is-open="true" is-disabled="true" heading="">
      <ul id="navigation">
        <li ui-sref-active="active" >
          <a ui-sref="app.users">
            <fa name="users"></fa>
            <span>Users</span>
          </a>
        </li>
        <li ui-sref-active="active" >
          <a >
            <fa name="calendar-o"></fa>
            <span>Calendar</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a >
            <fa name="bar-chart"></fa>
            <span>Reports</span>
          </a>
        </li>
      </ul>
    </accordion-group>
  </accordion>
</div>
